body {
    margin: 0;
    padding: 0;
}

.game-container {
    background-color: lightgoldenrodyellow;
    margin: 20% auto;
    width: 55%;
    height: 30rem;
    padding: 3rem;


    & h1 {
        font-family: sans-serif;
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .span-h1 {
        margin: 0 0.7rem 0 0.7rem;
        display: flex;
        align-items: center;
    }

    & #rps-logo {
        width: 6rem;
        height: 6rem;
    }

    & p:nth-child(2){
        margin-top: 2rem;
    }

    & p {
        text-align: center;
       
    }

    & .form-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 10rem;
        justify-content: space-evenly;
        margin: 3rem auto;
        background-color: lightgreen;        
        align-items: center;
        border-radius: 10px;
        

        & button {
            width: 30%;
            height: 30px;
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: none;
        }

        & input {
            width: 40%;
            height: 1.5rem;
        }
    }
}


@media screen and (max-width: 768px) { 
    .game-container {

        & p {
            font-size: 1rem;
        }

        & h1 {
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;

        }

        & .span-h1 {
            display: flex;
            align-items: center;
            margin: 0;
        }

        & #rps-logo {
            width: 50px;
            height: 50px;
        }

        & .span-h1 {
            margin-bottom: 15px;
        }

        & .form-container {
            & .name-text {
                font-size: 15px;
                text-align: center;
            }

            & input {
                width: 70%;
            }

            & button {
                width: 50%;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
    }
}

@media screen and (max-width: 375px) { 
    .game-container {

        & h1 {
            font-size: 1.3rem;
        }

        & p {
            font-size: 0.8rem ;
        }
    }
}









