
/* Carousel */
.carousel {
    display: flex;
    height: auto;
    width: 80%;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border: 3px solid black;
    margin: 5rem auto;
      
      #btn-prev-c, #btn-next-c {
        width: 2rem;
        height: 2rem;
      }
    
}

/* Recipes container */

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.sub-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: white;

  #delete-icon{
    width: 100%;
    background-color: white;

  }
}

.upperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 

  .recimg {
    width: 15rem;
    height: 15rem;
  }
}

.toggle-upperContainer .upperContainer {
  justify-content: center; 
}
  
.toggle-carousel{
    height: 100rem;
  
    button {
      margin-top: 9rem;
    }

    .recimg {
      margin: 0 auto;
    }
}
  
  .toggle-container {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    border-bottom: 0.0625rem solid #B5B1B1;
    padding: 1rem;
  }
  
.toggle-container.active {
    display: block;
    opacity: 1;
}

  .hideArrow {
    display: none;
  }


  .how-to-section {
    border-bottom: 0.0625rem solid #B5B1B1;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .sub-btn {
      width: 1.8rem;
      height: 1.5rem;
      margin: auto 0 auto 5rem;
      border: noen;
      background-color: none;
    }
  
    .plus-sign {
    height: 5rem;
    width: 5rem; 
  }
  
}
  
/* recipes, ingredients */
.instrCon {

  .inner-instr{
    display: flex;
    list-style-type: none;
    margin-bottom: 1rem;

    .instr-li {
      margin-left: 0.5rem;
    }
  }
} 

.ingredients > h5, .instrCon > h5 {
  font-size: 1rem;
}

/* Recipes form  */

.recipe-form-section {
  display: flex;
  width: 50%;
  margin: 5rem auto;
  border: 1px solid black;
  height: auto;

  .recipe-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    label, input {
      margin-bottom: 0.5rem;
    }

    .instrWords {
      font-style: italic;
    }

    .formBtn {
      width: 5rem;
      margin: 1rem auto;
    }
  }
}

.goBack {
  padding: 0.5rem;
  background-color: rgb(126, 186, 126);
  border: none;
  color: black;
}

@media screen and (max-width: 425px) {
  .recipe-form-section {
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .carousel {
    width: 50%;
  }

  .recipe-form {
    margin: 0 auto;
  }

  .recipe-form-section {
    width: 40%;
  }
}