@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

p, h2, div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  opacity: 0.9;
}

.title {
  position: absolute;
  width: 20rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.3rem;
  line-height: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: lightgrey;
}

.two {
  position: absolute;
  top: 85%;
  left: 50%;
  font-size: 1.5rem;
  margin-top: -1rem;
  color: lightgrey;
}

.one {
  margin-right: 10px;
}

.slider {
  font-style: italic;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #3586ff;
  font-weight: 800;
  animation: slider 4s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -100px;
  }
  30% {
    margin-top: -100px;
  }
  35% {
    margin-top: 0rem;
  }
  65% {
    margin-top: 0rem;
  }
  70% {
    margin-top: 100px;
  }
  100% {
    margin-top: 100px;
  }
}

/* SVG */

.svg-line {
  display: none;

  .line {
    display: flex;
    justify-content: center;
  }

  #svg {
    width: 100%;
    height: auto;
    overflow: visible;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(images/background.jpg);
    opacity: 2;
    padding: 0 10rem;
    margin: 0;
  }

}


/* curtains */

.curtain-container {
  position: relative;
  height: 40rem;
  bottom: -40rem;
  margin-top: -40rem;
  display: flex;
  z-index: 1;
  
}

.curtain-left,
.curtain-right {
  display: flex;
  height: 100%;
  width: 50%;
  top: -100rem;
  display: flex;
  background-color: rgb(21, 11, 11);
}

.active .curtain-left {
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  z-index: 3;
  
}

.active .curtain-right {
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  z-index: 3;

}






/* Main section */

.main-content {
  height: auto;
  margin: 0 2rem;
  background-color: hvite;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
  
}

/* About me section */
.about {
  background-color: rgb(206, 214, 206);
  height: auto;
  border-radius: 50%;
  padding: 3rem;
}

.about-me-section {
  height: auto;
  padding: 1rem;
}


/* Carousel  */

.c-img {
  height: 100%;
  width: 70%;
  object-fit: cover; 
  filter: brightness(0.6);

}

.c-item {
  height: 15rem;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    filter: invert(1);

}

#carousel-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Projects */



.project-header-container {
 margin: 0 100% 0 0;
}

.projects-header {
  width: 12rem;
}

#my-word {  
  animation: showup 7s infinite;
  margin-left: -0.5rem;
}

#projects-word {
  width:0px;
  animation: reveal 7s infinite;
  margin: 0;

   span {
   animation: slidein 7s infinite;
   margin: 77%;
 }
}
#my-word, #projects-word {
  font-size: 1.5rem;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


.my-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  height: 15rem;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;

 p {
  font-style: italic;
 }

 a {
  text-decoration: none;
  color: black;
}

}

.upper-row, .lower-row {
  display: flex;
  flex-direction: column;
}





/* Footer */


footer {
  position: relative;
  background: rgb(18, 18, 18);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto; /* Push the footer to the bottom of the container */
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact {
    display: flex;

    p {
      margin: 0.5rem;
      color: white;
    }
  }

  h2 {
    color: white;
  }
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}



@media (min-width: 375px){

 
}


@media (min-width: 768px) {
  .svg-line {
    display:block;
  }

  .about {
    display: flex;
    margin: 3rem 0;
    flex-direction: row;
    justify-content: space-between;

    
    .about-me-section {
      width: 40%;
    }

    #carousel-slide {
      width: 50%;
      margin: 0;
    }
  }

  .upper-row, .lower-row {
    flex-direction: row;
  }

 .projects {
  flex-direction: row;
 }

  
}

@media (min-width: 1024px) {

  .c-img {
    width: 50%;
  }

  #carousel-slide{
    justify-content: center;
  }


}

@media (min-width: 1440px) {
  .c-item {
    height: 25rem;
  }

}  
