body {
  margin: 0;
  padding: 0;
}

.game-container {
  height: 50rem;
  width: 80%;
  background-color: rgb(140, 164, 177);
  margin: 3rem auto;

  .victory {
    background-color: rgb(25, 90, 25);
  }
}

.header {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header > div {
  font-size: 1.4rem;
  margin: 0 auto;
}

.header > .header-computer {
  display: flex;
  align-items: center;
}

.header > .header-computer .computer {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.score-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.button-start {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#start-again {
  border: none;
  padding: 10px;
  background-color: lightgreen;
  border-radius: 10px;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.choose-header {
  font-size: 1.5rem;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0 3rem 0;
}

#img-player, #img-computer {
  width: 5rem;
  height: 5rem;
}


.outcome {
  margin: 0 auto;
  font-size: 1.2rem;
}

.button-container {
  margin: 3rem auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button-container > button {
  padding: 5px;
  width: 5rem;
  border: none;
  border-radius: 10px;
}

.victory {
 background-color: rgb(108, 217, 108);

 #start-again {
  background-color: pink;
 }
}

