body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    background-color: white;
    margin: 1rem;
    grid-template-areas: 
    'left-side > header' 'img-container-1'
    'left-side > info-me' 'right-side > random-info'
    'left-side > education' 'right-side > work'
    'left-side > skills' 'right-side > work'
    ;
    grid-template-columns: 1fr;
    background-color: rgb(227, 228, 220);
    
}

img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.img-container-1 {
    display: flex;
    justify-content: center;
    margin-left: 1.2rem;
}

.img-container-2 {
    display: flex;
    align-items: end;
    height: 18rem;
    width: 15rem;
    background-color: rgb(222, 190, 190);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin: 1.5rem 0;
  
}

.img-container-3{
    display: flex;
    align-items: end;
    width: 15rem;
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(222, 190, 190);
}

.headline p {
    font-weight: bold;
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 0;
    color: rgb(82, 59, 28);
    font-weight: 200;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.8rem;
    font-size: 1.3rem;
    height: 3rem;
    background-color: rgb(225, 196, 185);
    width: 50%;
    margin: 0;
    text-transform: uppercase;
    margin-top: 1rem;
}

.style-1 {
    background-color: rgb(227, 228, 220);
    display: flex;
    width: 100%;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
}

.style-2 {
        border-radius: 32% 68% 42% 58% / 68% 17% 83% 32% ;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 800;
        width: 9rem;
    }

.style-3 {
    border-radius: 28% 72% 69% 31% / 33% 57% 43% 67%  ;
    padding: 10px 0 10px 10px;
    width: 8rem;
}

.style-4 {
    border-radius: 79% 21% 69% 31% / 33% 57% 43% 67% ;
    padding: 18px 18px 18px 18px;
    width: 9rem;
    height: 4rem;
    
}

.info-me {
    grid-area: "info-me";
}

.info-container {
    display: flex;
    margin-left: 0;
    
}

.text>li {
    margin: 1.4rem 0 1rem 0.5rem;
    font-size: 1rem;
    padding-right: 5px;
}


.icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
    border-radius: 0;
}

.icon-container {
    background-color:rgb(158, 122, 75);
    margin: 5px;
    border-radius: 50%;
}

p, h4, ul{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(82, 59, 28);
}

.left-side {
   padding: 0 1rem 0;
}

.right-side{
    padding: 0 1.5rem 0 0;
}

.headline>p {
    margin: 5px 0;
}

.headline {
    margin-top: 1rem;
}

.prog-container {
    background-color: rgb(188, 169, 149);
    width: 100%;
    border-radius: 15px;
    margin-left:0;
}

.child {
    background-color: rgb(127, 88, 38);
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: right;
    border-radius: 15px;
    margin-left: 0;
}

.prog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prog ul {
    width: 80%;
}

.skill-name li {
    padding-top: 0.4rem
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin-left: 0 auto;
    padding-left: 0;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: -40px;
    bottom: 0;
    left: 28px;
    margin-left: -3px;
  }
  
  .right::after {
    content: "";
    border-radius: 50%;
    height: 20px; /* Changed */
    width: 20px; /* Changed */
    background-color: rgb(110, 76, 76);
    position:absolute; /* Added */
    left: -30px; /* Added */
    top: 52%;
  }
  
  .right {
    margin-left: 50px;
    position: relative; /* Added */
  }



   @media screen and (min-width: 768px){
    .grid-container {
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
        background-color: rgb(227, 228, 220);
    }

    img {
    height: 24rem;
    width: 24rem;
    }

    .img-container-1{
        width: 24rem;
        justify-content: center;
        margin-left: 2.5rem;
        background-color: rgb(222, 190, 190);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        height: 480px;

    }

    .random-info p {
        margin-top: 4rem;

    }

    .img-container-2 {
        height: 100%;
        width: 100%;
        justify-content: center;
        
    }

    .img-container-3{
        height: 28rem;
        width: 100%;
        justify-content: center;
    }

    .timeline::before{
        top: -75px;

    }

    .right::after{
        top: 60%;

    }

    .education, .skills {
        margin-top: 1rem;
    }

    .info-container {
        margin-top: 0.5rem;
      }

    .right-side{

        padding: 0rem 5rem 5rem 0rem;
    }

    .left-side {
        padding: 0rem 2rem 5rem 5rem ;
    }

    h2 {
        font-size: 7rem;
        font-weight: 300; 
    }

    .timeline::before {
        bottom: -33px;
        top: -65px;
    }
}
     

@media screen and (min-width: 1024px){

    .img-container-1 {
        margin-left: 5rem;
    }
}
    @media screen and (min-width: 1440px){
        .img-container-2 {
    
        }

        .img-container-1 {
            background-color: rgb(222, 190, 190);
            margin-left: 5rem;
        }

        img {
            height: 
            26rem;
            width: 
            26rem;
        }

        .skill-name{
            width:100%
        }

        .grid-container{
            width: 80%;
            margin: 2rem auto;
    
        }

    };



