body {
    margin: 0;
    padding: 0;
}

#game-container {
width: 70%;
height: 40rem;
background-color: #fafad2;
margin: 10rem auto; 
padding: 2rem;  


#top-section {
    display: flex;
    justify-content: space-between;
}

#upper-main {
    
    & h1 {
        font-size: 2rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 5rem;
    }

    & #number {
       text-align: center;
       background-color: lightpink;
       width: 10rem;
       margin: 0 auto;
       padding: 2rem 1rem;
       font-size: 2rem
    }
}

#main-left {
    display: flex;
    justify-content: space-around;
    height: 20rem;
    margin-top: 3.2rem;

    & #select-container {
        display: flex;
        flex-direction: column;
        margin-top: 4.6rem;

         #guess {
           height: 3rem;
           width: 5rem;
           text-align: center;
        }

        #check {
            margin-top: 2.8rem;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 40%
        }

    }

    & #main-right {

        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 15rem;
        margin-top: 3.5rem;


        #score {
            margin-top: 4rem;
        }
    }
}



};

.youWon {
    
     background-color: #90ee90;
}


